.scroll-to-buttons {
  background-color: #427553;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 6px 4px #1d7437;
}

.scroll-to-buttons button {
  display: inline-block;
  background-color: #3d6c41;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "text", serif;
  margin: 0 10px;
}

.scroll-to-buttons button:hover {
  background-color: #517748;
}
