.scroll-to-buttons {
  background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #356043, #948d58); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #356043, #948d58); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 6px 4px #1d7437;
}

.scroll-to-buttons button {
  display: inline-block;
  background-color: #4e8a53;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "text", serif;
  margin: 0 10px;
}

.scroll-to-buttons button:hover {
  background-color: #80bb73;
}
