
 .columnT {
    float: left;
     margin: 30px 20px 125px;
     padding: 0 8px;
     font-family: 'text', serif;
    color: white;
    max-width: 225px;
    align-items: center;
    /* background-color: rgb(67, 198, 111); */
    background: #649173; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ddcd5b, #3b8e57); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9add5b, #3b8e57); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  @media screen and (max-width: 650px) {
    .columnT {
      width: 100%;
      display: block;
    }
  }
  
  .cardT {
    box-shadow: 0 0 6px 8px rgb(194, 216, 97);
  }
  
  .containerT {
    padding: 0 16px;
  }
  
  .containerT::after, .rowT::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .titleT {
    color: rgb(255, 255, 255);
      font-family: 'text', serif;
  }
  
  .buttonT {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
      background-color: #ffffff;
      font-family: 'text', serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .buttonT:hover {
    background-color: #cbc5c59f;
  } 

  .image {
    margin: 12px;
  }